<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img class="main-logo" src="/assets/images/seekasia.png" alt="SEEK Asia">
  </a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link waves-light" mdbRippleRadius>Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbRippleRadius>Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbRippleRadius>Pricing</a>
    </li>
    <li class="nav-item ml-auto" *ngIf="localStorage.getItem('currentUser') != null">
      <a class="nav-link waves-light" href="#" mdbRippleRadius>
        <span class="glyphicon glyphicon-user"></span> Logged as
        <b>{{localStorage.getItem('currentUser') }}</b>
      </a>
    </li>
    <li class="nav-item" *ngIf="localStorage.getItem('currentUser') != null">
      <a class="nav-link waves-light" (click)="logout()" mdbRippleRadius>
        <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
    </li>
    <li *ngIf="localStorage.getItem('currentUser')  == null ">
      <a class="nav-link waves-light" mdbRippleRadius>
        <span class="glyphicon glyphicon-log-in"></span> Log In</a>
    </li>
  </ul>
  <!-- Links -->

</mdb-navbar>
<!--/.Navbar-->